/* IMPOSTAZIONI GENERALI */
body{
    background-image: url(../img/sfondo.png);
    background-position: center;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;

}
/* HEADER */
header{
    font-family: 'Poppins', sans-serif;
    background-color: #056f88;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.3rem;
    
}

header img {
    
    margin-left: 60px;
    
    
}

hr {
    display: none;
}

header p{
    padding: 10px;
    text-align: center;
    color: white;
}

header nav ul {
    padding-bottom: 5%;
    list-style: none;
    text-align: center;
}

header nav ul li a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 10px;
    
}

header nav ul li a:before {
    content: '⇒';
    padding: 5px;
    

}

header nav ul li a::after {
    content: '⇐';
    padding: 5px;
    margin-left: 5;
    line-height: 20px;

}

/* MAIN */

main {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.3rem;

}


/* ELEMENTI NEL MAIN - ARTICLE */


main article h1 {

    font-size: 1.8rem;
    padding-bottom: 3%;
    margin: 5%;
    font-weight: bold;

}


main article #mar {
    font-size: 0.9rem;
    padding-bottom: 5%;
    padding-left: 5%;
    text-transform: uppercase;
    color: gray;
    opacity: 0.8;
}



main article #txt1 {
    font-size: 1.1rem;
   
    padding-bottom: 5%;
}


main article #txt2{
    padding-bottom: 5%;
    font-size: 1.1rem;
}
 

main article #ul1 {

    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

main article ul li:nth-of-type(1) {
    padding-bottom: 10px;
    word-wrap: 2px;
    line-height: 23px;

}

main article ul li:nth-of-type(2){
    padding-bottom: 10px;
    word-wrap: 2px;
    line-height: 23px;
}

main article ul li:nth-of-type(3){
    padding-bottom: 10px;
    word-wrap: 2px;
    line-height: 23px;

}

main article p strong {

    font-weight: bold;
    color: #aa2072;
}


main article code {

    background-color: #e8ede2;
    border: solid 1px grey;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    opacity: 0.5rem;
        

}

main article #txt3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

main article #txt4 {
    margin: 10px;
    font-size: 1.1rem;

}

main ol {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 1.1rem;

}

main article #txt5 {
    margin: 10px;
    font-size: 1.1rem;
}

table caption {
    font-weight: bold;
    padding: 20px;
}
/* TABELLE */

table {
    border-collapse: collapse;                              
    width: 100%;
    border-bottom: solid 2px #3366cc;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #efefef;
}

table thead tr th:nth-of-type(1){
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #3366cc;
    

}

table thead tr th:nth-of-type(2){
    color: white;
    line-height: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #3366cc;
    border-left: solid 1px white;

}

table thead tr th:nth-of-type(3){
    color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    background-color: #3366cc;
    border-left: solid 0.2px white;
}

main article #txt6 {
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

main article iframe {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}

main article section {
    background-color: #dfe5e6;
    text-align: center;
    padding: 20px;
    margin: 15px
}

main article section h2 {
    font-weight: bold;
    font-size: 1.5rem;
} 

main article section p  {
    margin: 10px;
    line-height: 30px;
    
}

main article section form fieldset input {

    height: 30px;
    margin-bottom:10px;
    
    

}

main article section form fieldset button { 
    color: white;
    background-color: #3366cc;
    font-size: larger;
    margin-top: 10px;

}
/*table tbody tr:nth-child(even){
    width: 100%;
    background-color: #efefef;

}*/


/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
