* {
    margin: 0;
    padding: 0px;
    font-family: 'Acme', sans-serif;
}

h1{
    font-size: 2rem;
    margin: 15px;
    font-family: 'Acme', sans-serif;
    text-decoration: solid;
}

#calc input {
    width: 40px;
    height: 40px;
    margin: 1px;
    font-size: 15px;
    border: none;
    vertical-align:text-top;
    border-radius: 10%;
}
#calc input:hover {
    background-color: #ccc;
    transition:  0.5s;
}

#calc input:active {
    background-color: #aaa;
}

#calcolatrice {
    background-color: #eee;
    width: fit-content;
    padding: 10px 5px;
    box-shadow: 1px 1px 7px #999;
    margin: 70px;
    border-radius: 3%;
}

.area {
    width: 166px;
    height: 30px;
    padding: 2px;
    text-align: right;
    font-size: 20px
}