#main-header a{ /*peso 101 poichè gli id pesano 100;
                  le classi pesano 10;
                  I tag 1;*/
    text-decoration: none;  /*con none toglie ad esempio le sottolineature*/
    color: black;
}

a{ /*peso 1 */
    text-decoration: none;  /*con none toglie ad esempio le sottolineature*/
    color: red;
      
}

/*altri modi per selezionare*/

div.sfondo-blue.{ /*funziona solo se la classe è applicata ad un div*/
    background-color: red;
}

div.sfondo-blue.testo-grassetto{
    font-weight: bold;
}

.sfondo-blue, .testo-grassetto{/*tutti gli elementi che hanno classe sfondo-blue*/}