/* IMPOSTAZIONI GENERALI */

html {
    font-family: 'Raleway', sans-serif;
}

/* HEADER */

header {
    background-color: #00a0c6; 
    text-align: center;
    
}

header h1{
    color: white;
    font-size: larger;
}

header h1 span{
    color: #00a0c6;
    background-color: white;
    text-transform: uppercase;
}

#hrhead {
    border-color: grey;
    border-width: 10px;
    margin: 0px;
}

/* MAIN */
main h2 {
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    color: #00a0c6;
}

main h3 {

    text-align: center;
    padding: 10px;
    font-weight: bolder;
}

figure{

    text-align: center;
}
figure img {
    border: 2px solid black;
    padding: 5px;

}

#inf {
    text-align: center;
    font-size: 35px;
    font-style: bolder;
}

b {
    font-weight: bold;
}

address {
    text-align: center;
}

#me {
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

#pst {

    text-align: center;
    font-size: 35px;
    font-style: bolder;
    padding-bottom: 10px;
}

strong {
    font-weight: bold;
    color: #00a0c6;

}

#frase {

    padding: 10px;
    
}

p {
    padding: 10px;
}

#formaz {
    text-align: center;
    font-size: 35px;
    font-style: bolder;
    padding-bottom: 10px;
}



blockquote {
     text-align: center;
     font-size: 19px;
     font-weight: 600px;
     width: 400;
}

blockquote p {

    margin-left: 25px;
    background-color: rgb(180, 172, 172);
    padding: 30px;
    border-radius: 70px;
    padding-bottom: 30px;
    font-style: italic;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 0px 10px;
}

/* ELEMENTI NEL MAIN */

/* FOOTER */
